# Gmail SMTP (used to email new leads to spacesolarsolution@gmail.com)
GMAIL_USER=spacesolarsolution@gmail.com
GMAIL_APP_PASSWORD=

# CallMeBot (used to WhatsApp new leads to the business number)
CALLMEBOT_PHONE=
CALLMEBOT_APIKEY=
